/* CSS styles to improve the layout and UX */ 

.disabled_field  {
	-fx-control-inner-background: #DDDDDD;
}

#results_label {
	-fx-font-weight:bold;
}

.button {
	-fx-background-radius: 8.0;
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
    -fx-text-fill:white;
}

#fire_button {
    -fx-background-color: Tomato;
}
#erase_button {	
    -fx-background-color: CornflowerBlue;  
}

#mass_exception_label {
	-fx-text-fill: #FF0000;
}
