/* CSS styles to improve layout */ 

.disabledField  {
	-fx-control-inner-background: #DDDDDD;
}
#results_label {
	-fx-font-weight:bold;
}
#fire_button {
	-fx-background-color: Tomato;
	-fx-background-radius: 5;
}
#mass_exception_label {
	-fx-text-fill: #FF0000;
}